{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{% static '/styles/pages/diagnostic/diagnostic.css' %}"
    />
    {% include '../components/head.html' %}
  </head>
  <body>
    {% include '../components/navBar.html' %}

    <main>
      <section class="text-center">
        <h1 class="mt-3">Preencha o formulário e obtenha o diagnostico!</h1>
      </section>

      <div class="container mt-5">
        <div class="row g-4">
          <div class="col-lg mx-auto">
            <div class="formBox">
              <p class="progressNumber mt-2 fw-bold text-center">1/12</p>

              <div id="div1">

                <div class="firstRow">
                  <label class="fw-bold" for="sex">Sexo</label>
                  {{ form.sexo }}
                </div>

                <div class="secoundRow">

                  <label class="text-left fw-bold" for="age">Idade</label>
                  {{ form.idade }}
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg mx-auto">sasasas</div>
        </div>
      </div>
    </main>
  </body>
</html>
