{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{% static '/styles/pages/diabetes/diabetes.css' %}"
    />
    {% include '../components/head.html' %}
  </head>
  <body>
    {% include '../components/navBar.html' %}

    <div
      class="row d-flex justify-content-center carousel carousel-dark slide mt-4"
      data-bs-ride="carousel"
    >
      <h2 class="text-center">Descubra mais sobre diabetes</h2>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <div
        id="carouselExampleDark"
        class="carousel slide w-50"
        data-bs-ride="false"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              onclick="location.href='/diabetes/typeone'"
              src="static/images/type1.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Diabetes Tipo 1</h5>
              <p>Clique na imagem para mais informações</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              onclick="location.href='/diabetes/typetwo'"
              style="height: 525px"
              src="static/images/type2.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Diabetes Tipo 2</h5>
              <p>Clique na imagem para mais informações</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              onclick="location.href='/diabetes/gestational'"
              style="height: 525px"
              src="static/images/gestacional.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Diabetes Gestacional</h5>
              <p>Clique na imagem para mais informações</p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>
</html>
