<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'navBar.html' %}
    <h2>
        Geralmente, acomete crianças e adolescentes e concentra de 5 a 10% do total de pessoas portadoras de diabetes. Além disso, é chamada de doença autoimune, pois o sistema imunológico ataca as células beta. Dessa maneira, pouca ou nenhuma insulina é liberada para o organismo. A glicose, então, não é absorvida pelas células1 e 2

        Para retirar o açúcar da corrente sanguínea, os médicos habitualmente prescrevem insulina, modificação no cardápio e atividades físicas.
    </h2>
</body>
</html>