{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>
    <link
    rel="stylesheet"
    href="{% static '/styles/pages/diabetes/typeOneDiabetes.css' %}"
  />
  {% include '../components/head.html' %}
 </head>
<body>
    {% include '../components/navBar.html' %}
   
    <div class="container-fluid ">
        <div class="row">
            <div class="col lg-1 md-1 sm-0"></div>
            <div class="col-xs-6 col-md-7 col-lg-8 content-div" >
                <h1 class="mt-3">Diabetes tipo 1</h1>
                <p>O diabetes mellitus tipo 1, é caracterizado pelo excesso de glicose (açúcar) no sangue, o que desencadeia uma série de complicações no organismo. Mas, nesse caso, a doença surge
                    em geral na infância e na adolescência, traz sintomas como vontade urinar e perda de peso e tem origem autoimune. Ou seja, as próprias unidades de defesa do corpo passam a destruir o pâncreas,responsável pela produção de insulina. O tratamento, portanto, sempre envolve a reposição desse hormônio.
                </p>
                <p>
                    A insulina tem a função de abrir as portas das células para a entrada da glicose, que será convertida em energia. Esse processo nos mantém vivos. A consequência do diabetes tipo 1 é um acúmulo
                    permanente de glicose na corrente sanguínea, o que causa uma porção de danos. 
                </p>
                <p>Entre as complicações, destacam-se: 
                    <ul class="page-list">
                        <li>
                            Lesões e placas nos vasos sanguíneos, que comprometem a oxigenação dos órgãos e elevam o risco de infartos e AVCs
                        </li>
                        <li>
                            Retinopatia diabética (danos à retina, o tecido no fundo do globo ocular, que levam à cegueira)
                        </li>
                        <li>
                            Fâlencia renal
                        </li>
                        <li>
                            Neuropatia periférica (comprometimento dos nervos, que compromete a sensibilidade)
                        </li>
                        <li>
                            Amputações devido a feridas não perceptíveis na pele, que são capazes de evoluir para gangrena
                        </li>
                    </ul>
                </p>

                <p>Sintomas do diabetes tipo 1: 
                    <ul class="page-list">
                        <li>
                           Sede constante
                        </li>
                        <li>
                            Boca seca
                        </li>
                        <li>
                                Vontade de urinar a toda hora
                        </li>
                        <li>
                            Perda de peso
                        </li>
                        <li>
                            Formigamento em pernas e pés
                        </li>
                        <li>
                            Feridas que demoram a cicatrizar
                        </li>
                        <li>
                            Fungos nas unhas
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 nav-div" s>
                <h2 class="mt-3">Diabetes</h2>
                <p>Conheça também outros tipos de diabetes:</p>
                <ul>  
                    <li class="list-item" onclick="location.href='/diabetes/typetwo/'">Diabetes tipo 2 </li>
                    <li  class="list-item" onclick="location.href='/diabetes/gestational/'">Diabetes gestacional</li>
                </ul>

                <img class="img-fluid" src="../static/images/types.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>
