{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{% static '/styles/pages/register/register.css' %}"
    />
    {% include '../components/head.html' %}
  </head>
  <body>
    {% include '../components/navBar.html' %}

    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
          <div class="card mb-4">
            <div class="card-body p-5">
              <h2 class="text-center">Registo</h2>

              <form method="post" action="">
                {%csrf_token%} {% include '../components/logo.html' %}
                <label for="fistName" class="label mt-3"> Primeiro nome</label>
                {{form.first_name}} {% include '../components/logo.html' %}

                <label for="latName" class="label mt-5">Último nome</label>
                {{form.last_name}} {% include '../components/logo.html' %}

                <label for="email" class="label mt-5"> Email</label>
                {{form.email}} {% include '../components/logo.html' %}

                <label for="password1" class="label mt-5"> Palavra-passe</label>
                {{form.password1}} {% include '../components/logo.html' %}

                <label for="password2" class="label mt-5">
                  Confirmação da palavra-passe</label
                >{{form.password2}}

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-lg mt-5">
                    Registar
                  </button>
                </div>
                <p class="text-center text-muted mt-3 mb-0">
                  Já possui uma conta? Faça o
                  <span onclick="location.href='/login'"><u>login </u> </span>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
