<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    {% include 'navBar.html' %}
    
    <div class="row m-xl-5" style="padding-top: 7%;padding-left: 10%;", >
        <div class="col">
            <h1>Faça uma breve analise e <br> descubra se tem diabetes!</h1>
            <h5>A nossa equipe criou um modelo de inteligencia artificial<br>
                capaz de prever se tem ou não diabetes! Interessado?<br>
                Simplesemente precisas preencher um formulario e o<br>
                resultado lhe é mostrado em instantes!</h5>
            <button style="height: 20%;" type="button" class="btn btn-dark">Ir ao Diagnostico</button>
            <button style="height: 20%;" type="button" class="btn btn-info">O que sao Diabetes</button>
        </div>
        <div class="col">
            <img href="./home.png" class="img-fluid" alt="Responsive image">      
         </div>
    </div>
</body> 
</html>