<!DOCTYPE html>
<html lang="en">

<!-- <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<div id=" carouselExampleControlsNoTouching" class="carousel slide"
    data-bs-touch="false" data-bs-interval="false">

  <title>Document</title>

  <style>
    .disableDiv {
      display: none;
    }
  </style>
</head> -->

{% include 'head.html' %}

<body>
  <div class="content">
    <div class="row" style="height: 50%;">
      <div class="col-2 mt-1">
        <button type="button" class="btn btn-outline-primary btn-lg disableDiv" style="float: right;"
          onclick="previousDiv()" id="btnPrev">
          <= </button>
      </div>
      <div class="col-5" style="border-style: solid; text-align: center;">
        <div id="div1">
          <h1>
            <h6>1/12</h6>
           <select class="form-select" aria-label="Default select example">
            <option selected>Femenino</option>
            <option value="1">Masculino</option>
          </select>
          <div class="row m-xl-5">
          </div>
          <h6 style="text-align: start;">Idade</h6>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Menos de 45 anos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                45-54 anos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                55-64 anos
            </label>
          </div>
          <div class="form-check mb-1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Mais de 64 anos
            </label>
          </div>
          </h1>
        </div>
        <div id="div2" class="disableDiv">
          <h1>DIV 2</h1>
        </div>
        <div id="div3" class="disableDiv">
          <h1>DIV 3</h1>
        </div>
        <div id="div4" class="disableDiv">
          <h1>DIV 4</h1>
        </div>
        <div id="div5" class="disableDiv">
          <h1>DIV 5</h1>
        </div>
      </div>
      <div class="col-2 mt-1">
        <button type="button" class="btn btn-outline-primary btn-lg" onclick="nextDiv()" id="btnNext">=></button>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  let divAtual = 1;

  function nextDiv() {
    disableAllDivs();     
    switch (divAtual) {
      case 1:
        divAtual++
        document.getElementById("btnPrev").classList.remove("disableDiv");
        document.getElementById("div2").classList.remove("disableDiv");
        break;
      case 2:
        divAtual++        
        document.getElementById("div3").classList.remove("disableDiv");
        break;
      case 3:
        divAtual++
        document.getElementById("div4").classList.remove("disableDiv");
        break;
      case 4:
        divAtual++
        document.getElementById("btnNext").classList.add("disableDiv");
        document.getElementById("div5").classList.remove("disableDiv");
        break;
      case 5:
        document.getElementById("div5").classList.remove("disableDiv");
        break;
    }
  }

  function previousDiv() {
    disableAllDivs();

    switch (divAtual) {
      case 1:
        document.getElementById("div1").classList.remove("disableDiv");
        break;
      case 2:
        divAtual--
        document.getElementById("btnPrev").classList.add("disableDiv");
        document.getElementById("div1").classList.remove("disableDiv");
        break;
      case 3:
        divAtual--
        document.getElementById("div2").classList.remove("disableDiv");
        break;
      case 4:
        divAtual--
        document.getElementById("div3").classList.remove("disableDiv");
        break;
      case 5:
        divAtual--
        document.getElementById("btnNext").classList.remove("disableDiv");
        document.getElementById("div4").classList.remove("disableDiv");
        break;
    }
  }

  function disableAllDivs() {
    document.getElementById("div1").classList.add("disableDiv");
    document.getElementById("div2").classList.add("disableDiv");
    document.getElementById("div3").classList.add("disableDiv");
    document.getElementById("div4").classList.add("disableDiv");
    document.getElementById("div5").classList.add("disableDiv");

  }


</script>