img {
  width: 100% !important;
  height: auto !important;
  background-color: red !important;
}

.diabetes-link {
  font-weight: 900 !important;
  text-decoration: overline !important;
}

body {
  position: relative;
}

@media screen and (max-width: 576px) {
  .carousel {
    width: 100%;
  }
}

h5 {
  color: black !important;
}

p {
  color: black !important;
}
