{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../components/head.html' %}
    <link
      rel="stylesheet"
      href="{% static '/styles/pages/charts/charts.css' %}"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% include '../components/navBar.html' %}
    <script type="text/javascript">
      var diabetic_predicted = "{{diabetic_predicted}}";
      var non_diabetic_predicted = "{{non_diabetic_predicted}}";

      var diabetics = "{{diabetics}}";
      var non_diabetics = "{{non_diabetics}}";

      var months = "{{months|safe}}";
      var userMounthAmount = "{{userMounthAmount|safe}}";
    </script>

    <div class="container">
      <div class="row text-center g-4 text-center mt-5">
        <div class="col col-lg mx-auto text-center">
            <canvas id="diagnosticChart" width="400" height="400"></canvas>
          <script
            type="module"
            src="{% static '/scripts/charts/diagnosticChart.mjs' %}"
          ></script>
        </div>

        <div class="col col-lg mx-auto text-center">
            <canvas id="userChart" width="400" height="400"></canvas>
          <script
            type="module"
            src="{% static '/scripts/charts/userChart.mjs' %}"
          ></script>
        </div>

        <div class="col col-lg mx-auto text-center">
            <canvas id="contributionChart" width="400" height="400"></canvas>
          <script
            type="module"
            src="{% static '/scripts/charts/contributionChart.mjs' %}"
          ></script>
        </div>
      </div>
    </div>
  </body>
</html>
