.diagnostic-link {
  font-weight: 900 !important;
}

h6 {
  margin-top: 10px !important;
  text-align: center;
}

.formBox {
  border: 1px solid #93deff !important;
  width: 400px !important;
  height: 400px !important;
  /* display: grid !important;
  grid-template-rows: 10% 90% !important; */
}


label{
  margin-bottom: 10px;
}

.formGrid
{
  height: 360px;
  display: grid;
  grid-template-rows: 50% 50%;
}
/*
#div1 {
  display: grid !important;
  grid-template-rows: 50% 50% !important;
}


select{
  width: 75% !important;
  align-self: center;
  margin:0 auto;
}

label, select {
  margin-left: 40px !important;
} */
