* {
  margin: 0;
  padding: 0;
}

.diagnostic-button {
  background-color: #323643 !important;
  color: white !important;
  margin-right: 20px;
}

.diabetes-button {
  background-color: #93deff !important;
  color: white !important;
  margin-left: 20px;
}




h1 {
  margin-top: 40px !important;
  font-size: 45px !important;
}

p {
   margin-top: 40px !important;
  text-align: center;
  font-size: 20px !important;
  color: #606470 !important;
  display: block !important;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

.instant-class
{
  font-weight: 500;
  color: #323643 !important;
}
