{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static '/styles/pages/project_support/project_support.css' %}" />
        {% include '../components/head.html' %}
    </head>
<body>
       {% include '../components/navBar.html' %}
    <main>
        {%csrf_token%}
        <div class="container">
            <section class="text-center">
                <h1 class="mt-3 " >Contribuindo com seus dados</h1>
                <p class="mt-3 ">
                    Muito obrigado por considerar em contribuir para o website,  para contribuir para o website, somente precisa  se registar no website usando o seu email  e permitir que os dados dos seus diagnostico sejam armazenados no sistema do site. <br>
                     O registro por email serve para garantir que uma pessoa real esta a contribuiir para o projeto com dados solidos e coerentes.      
                </p class="mt-5 ">
                  <h1 >Ao contribuir esteja seguro que:</h1>
            </section>
            
            <section class="p-5">
                <div class="container">
                    <div class="row text-center g-4">

                        <div class="col-lg mx-auto" >
                            <h6>Um modelo mais preciso</h6>

                            <div class="h1">
                                <i class="bi bi-suit-heart-fill"></i>
                            </div>
            
                            <h6>O modelo estará um passo a mais  de se tornar mais forte, mais preciso, pois um modelo de inteligencia artificial alimenta se com dados. E se o mesmo crescerá graças a si!</h6>       
        
                        </div>

                        <div class="col-lg mx-auto security-class">
                            <h6>Segurança</h6>
                                <div class="h1">

                                <i class="bi bi-lock-fill"></i>
                            </div>
                            <h6>Os dados do seu diagnostico serão armazenados de forma segura e anonima. Os mesmos jamais serão partilhados com terceiros!</h6>
                        </div>

                        <div class="col-lg mx-auto">
                            <h6>Autenticação por email</h6>
                                <div class="h1">

                                <i class="bi bi-person-circle"></i>
                            </div>
                             <h6>O email é necessario para garantir que cada pessoa contribua para o modelo no maximo uma vez por ano, no entanto podem na mesma tirar quantos diagnostico quiserem!</h6>
                         </div>

                    </div>
                        
                    </div>
                </div>
            </section>

            <section class="text-center">
                <button 
                onclick="contribute()"
                class="btn btn-lg mb-3">Contribuir</button>
            </section>

                
        </div>

    </main>
<body>
    
</body>
</html>

<script src="{% static '/scripts/project_support/project_support.js' %}"></script>
